/**
 * @file
 * Styling for the ds_2col_fluid template.
 */

.ds-2col-fluid > .group-left {
  float: left; /* LTR */
  width: 70%;
}

.ds-2col-fluid > .group-right {
    float: right;
    width: calc(30% - 10px);
    margin-left: 10px;
}

.ds-2col-fluid.group-one-column > .group-left,
.ds-2col-fluid.group-one-column > .group-right {
  width: 100%;
  float: none;
}

div div.group-left div.vital-info {
    border-bottom: none;
    margin-bottom: none;
}

.field .field-label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.ds-2col-fluid > .group-left .group-left {
    width: 100%;
}