div#main_header div.field-name-field-featured-image img
 {
	border: 1px solid #333;
	padding: 0;
	height: auto;
	max-width: 100%;
	margin: 0;
}

div#right_main {
    float: right;
    width: 78%;
	!background-color: #FFDFF7;
}

div#left_sidebar {
    width: 20%;
    float: left;
    font-size: smaller;
	margin-right: 2%;
	!background-color: #BFCFFF;
}

div#center_pane {
    width: 64%;
	float: left;
	margin-top: 10px;
	!background-color: #F99AFF;
}
.view.view-recent-news h2.title {
    font-size: 1.35em;
    font-weight: bold;
}

div#right_pane {
    width: 33%;
	float: right;
	margin-top: 10px;
	!background-color: #BBFFA2;
}

div.field.field-name-field-image-caption {
    color: white;
    background-color: rgba(0, 0, 0, .7);
    padding: 0px 20px;
    top: -105px;
    position: relative;
    z-index: 1;
    height: 100px;
	margin-bottom: -90px;
}

div.section-title
{
	border-top: 5px solid #666;
    border-bottom: 3px solid #bbb;
	font-weight: bolder;
    text-transform: uppercase;
    color: #333;
    line-height: 40px;
    font-size: 1.1em;
	margin-bottom: 10px;
}