.field-name-field-featured-image{
	margin-left: -30px;
	margin-right: -28px;
	margin-top: -40px;
	border: none;
}
div#main_header .group-mainheaderspan  .field-name-field-image-caption{
	top: -100px;
	position: relative;
	margin-bottom: -60px;
	
	margin-left: -30px;
	margin-right: -29px;
	padding: 5px;
	padding-left: 20px;
}
div#main_header .group-mainheaderspan  .field-name-field-image-caption p{
	margin: 0;
}

div#main_header div.field-name-field-featured-image img
 {
	border: 1px solid #333;
	padding: 0;
	height: auto;
	max-width: 100%;
	margin: 0;
}

div#right_main {
    float: right;
    width: 78%;
}

div#left_sidebar {
    width: 20%;
    float: left;
    font-size: smaller;
	margin-right: 2%;
}

div#center_pane {
    width: 64%;
	float: left;
	margin-top: 10px;
}
.view.view-recent-news h2.title {
    font-size: 1.35em;
    font-weight: bold;
}

div#right_pane {
    width: 33%;
	float: right;
	margin-top: 10px;
}

div.field.field-name-field-image-caption {
    color: white;
    background-color: rgba(0, 0, 0, .7);
}
div.field.field-name-field-image-caption a {
	color: white;
}