/*
Turn off all divs but content
*/
#wrap>div {
    display: none;
}
div#main {
    display: block;
}

body{
	background-image: url(bg.jpg) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
div#wrap{
	/* background: rgba(255, 255, 255, 0.5); */
	background: rgba(46, 97, 144, 0.5);
	width: auto;
    margin: 20px;
	color: #fff;
}
/* Title colors */
div.section-title, h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, a h1, a h2, a h3, a h4 {
	color: #fff !important;
}
 
div div.view-storify-publications div.view-content{
	overflow-y: hidden;
}
div.view-storify-publications div.views-row {
	display: none;
}
div.view-storify-publications div.view-content:nth-child(-n+3) {
	display: block;
}
 
div h1.page-title {
    font-size: 50px;
    line-height: 1.8em;
    border-bottom: 0.08em black solid;
}

/*
	Publications
*/
div div.view-storify-publications div.views-row {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: none;
}
/*
	News block
*/
div.view.view-recent-news article ul.meta{
	display: none;
}
div.field-name-field-tags{
	display: none;
}
div.view.view-recent-news article .links li a, li.node-readmore a {
	display: none;
}
#content article.node {
    border-bottom: 0;
}

/* Footer */
footer#copyright-wrap img {
	display: none;
}
div#copyright {
	display: none;
}

 
.ds-3col-stacked-equal > .group-header {
  clear: both;
}

.ds-3col-stacked-equal > .group-left {
  width: 20%;
  float: left; /* LTR */
}

.ds-3col-stacked-equal > .group-middle {
  width: calc(50% - 40px);
  margin: 0 20px;
  float: left; /* LTR */
}

.ds-3col-stacked-equal > .group-right {
  width: 30%;
  float: right; /* LTR */
}

.ds-3col-stacked-equal > .group-footer {
  clear: both;
}
