.ds-2col > .group-left {
  float: left; /* LTR */
  width: 50%;
}

.ds-2col > .group-right {
  float: left; /* LTR */
  width: 50%;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 155px solid transparent;
    border-right: 90px solid #f44248;
    position: absolute;
    right: 480px;
    top: 314px;
}

.field-name-field-sidebar-content {
    font-size: 21px;
}

div#logo {
  background-image: url("pqi-logo.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 75px;
  background-size: contain;
  position: absolute;
  bottom: 20px;
}
