.ds-2col > .group-left {
  float: left; /* LTR */
  width: 50%;
}

.ds-2col > .group-right {
  float: left; /* LTR */
  width: 50%;
}


.page-node #content-wrap .field-name-field-profile-photo img{
  border: none;
  width: 100%;
}

/* Sidebar text */
 .field.field-name-field-short-title {
    font-size: 30pt;
    font-weight: bold;
}
.field-name-field-subtitle {
    font-style: italic;
    margin-bottom: 20px;
    font-size: 18px;
}

.page-node #content-wrap div.field-name-field-research-slideshow .field-name-field-image img {
     border: none;
     margin: 0;
     height: 99vh;
     width: auto;
 }
 .field-name-field-sidebar-content {
     font-size: 19px;
 }
/* End text */


div#logo {
  background-image: url("pqi-logo.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 75px;
  background-size: contain;
  position: absolute;
  bottom: 3vw;
  right: 1vw;
}
