/*
Turn off all divs but content
*/
#wrap>div {
    display: none;
}
div#main {
    display: block;
}

body{
	background-image: url(bg.jpg) !important;
  background-attachment: fixed !important;
}
div#wrap{
	/* background: rgba(255, 255, 255, 0.5); */
	background: rgba(46, 97, 144, 0.0);
	width: auto;
  margin: 0px;
  padding: 0px;
	color: #333;
}
/* Titles & text */
div.section-title, h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, a h1, a h2, a h3, a h4 {
	color: #333 !important;
}
 div h1.page-title {
    display: none;
}
div div.section-title {
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5em;
}
p, div.element.text {
    font-size: 18px !important;
}
div.view-empty{
	text-align: center;
}
 /* Slide layout */
 body {
     overflow:hidden; /* Hide scrollbar */
 }

.ds-2col > figure.group-left {
  float: none;
  width: initial;
  max-width: 1425px;
  display: inline-block;
 }
 .ds-2col > div.group-right {
    float: none;
    width: calc(100% - 1600px);
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    background-color: red;
    color: #fff;
    padding: 20px 85px;
 }

 .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}
  /* End slide layout */


/* Sidebar text */
 .field.field-name-field-short-title {
    font-size: 30pt;
    font-weight: bold;
}
.field-name-field-subtitle {
    font-style: italic;
    margin-bottom: 20px;
    font-size: 18px;
}

.page-node #content-wrap div.field-name-field-research-slideshow .field-name-field-image img {
     border: none;
     margin: 0;
 }
/* End text */


/* Footer */
footer#copyright-wrap img {
	display: none;
}
div#copyright {
	display: none;
}
footer#copyright-wrap{
	display: none;
}




.ds-3col-stacked-equal > .group-header {
  clear: both;
}

.ds-3col-stacked-equal > .group-left {
  width: 20%;
  float: left; /* LTR */
}

.ds-3col-stacked-equal > .group-middle {
  width: calc(50% - 40px);
  margin: 0 20px;
  float: left; /* LTR */
}

.ds-3col-stacked-equal > .group-right {
  width: 30%;
  float: right; /* LTR */
}

.ds-3col-stacked-equal > .group-footer {
  clear: both;
}
