/*
Turn off all divs but content
*/
#wrap>div {
    display: none;
}
div#main {
    display: block;
}

body{
	background-image: url(bg.jpg) !important;
  background-attachment: fixed !important;
}
div#wrap{
	/* background: rgba(255, 255, 255, 0.5); */
	background: rgba(46, 97, 144, 0.0);
	width: auto;
  margin: 0px;
  padding: 0px;
	color: #333;
}
/* Titles & text */
div.section-title, h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, a h1, a h2, a h3, a h4 {
	color: #333 !important;
}
 div h1.page-title {
    display: none;
}
div div.section-title {
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5em;
}
p, div.element.text {
    font-size: 18px !important;
}
div.view-empty{
	text-align: center;
}
 /* Slide layout */
 body {
     overflow:hidden; /* Hide scrollbar */
 }

.ds-2col > figure.group-left {
  float: none;
  width: initial;
  max-width: 1425px;
  display: inline-block;
 }
 .ds-2col > div.group-right {
    float: none;
    width: calc(100% - 1600px);
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    color: #fff;
    padding: 20px 85px;
 }
  /* End slide layout */

/* Footer */
footer#copyright-wrap img {
	display: none;
}
div#copyright {
	display: none;
}
footer#copyright-wrap{
	display: none;
}
