/*
Turn off all divs but content
*/
#wrap>div {
    display: none;
}
div#main {
    display: block;
}

body{
	background-image: url(bg.jpg) !important;
  background-attachment: fixed !important;
}
div#wrap{
	/* background: rgba(255, 255, 255, 0.5); */
	background: rgba(46, 97, 144, 0.0);
	width: auto;
    margin: 20px;
	color: #333;
}
/* Titles & text */
div.section-title, h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, a h1, a h2, a h3, a h4 {
	color: #333 !important;
}
 div h1.page-title {
    display: none;
}
div div.section-title {
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5em;
}
p, div.element.text {
    font-size: 18px !important;
}
div.view-empty{
	text-align: center;
}
 /* Slide layout */
 .page-node #content-wrap div.field-name-field-research-slideshow .field-name-field-image img {
     border: none;
     max-width: 1325px;
 }

 /* End slide layout */

/* Footer */
footer#copyright-wrap img {
	display: none;
}
div#copyright {
	display: none;
}
footer#copyright-wrap{
	display: none;
}




.ds-3col-stacked-equal > .group-header {
  clear: both;
}

.ds-3col-stacked-equal > .group-left {
  width: 20%;
  float: left; /* LTR */
}

.ds-3col-stacked-equal > .group-middle {
  width: calc(50% - 40px);
  margin: 0 20px;
  float: left; /* LTR */
}

.ds-3col-stacked-equal > .group-right {
  width: 30%;
  float: right; /* LTR */
}

.ds-3col-stacked-equal > .group-footer {
  clear: both;
}
