/*
Turn off all divs but content
*/
#wrap>div {
    display: none;
}
div#main {
    display: block;
}

body{
	background-image: url(bg.jpg) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
div#wrap{
	/* background: rgba(255, 255, 255, 0.5); */
	background: rgba(46, 97, 144, 0.0);
	width: auto;
    margin: 20px;
	color: #333;
}

/* Main layout */
.column {
    display: inline-block;
    width: 19%;
    vertical-align: top;
}
.column.group-column2 {
    width: 40%;
}
.column.group-column1 {
    width: 15%;
}




/* Titles & text */
div.section-title, h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, a h1, a h2, a h3, a h4 {
	color: #333 !important;
}
 div h1.page-title {
    font-size: 20px;
    line-height: 1.8em;
    border-bottom: 0.08em black solid;
}
div div.section-title {
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5em;
}
p, div.element.text {
    font-size: 18px !important;
}
div.view-empty{
	text-align: center;
}



/* Footer */
footer#copyright-wrap img {
	display: none;
}
div#copyright {
	display: none;
}
footer#copyright-wrap{
	display: none;
}

/*
Weather
*/
div.field-name-current-weather div.aw-widget-current {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(30% + 20px);
}
div.field-name-current-weather time:before {
    content: 'at ';
}
div.field-name-current-weather a#link_get_widget {
    display: none;
}
div.aw-widget-content{
    background: rgba(255,255,255,.3) !important;
}
