/**
 * @file
 * Styling for the ds_2col_fluid template.
 */

.ds-2col-fluid > .group-left {
  float: left; /* LTR */
  width: 70%;
}

.ds-2col-fluid > .group-right {
    float: right;
    width: calc(30% - 15px);
    margin-left: 15px;
}

.group-topleft {
	float: left;
	width: 53%;
}
.group-topright {
	float: right;
	width: 46%;
}

.ds-2col-fluid.group-one-column > .group-left,
.ds-2col-fluid.group-one-column > .group-right {
  width: 100%;
  float: none;
}

div.group-left div.field-label {
    color: #009292;
    font-size: large;
}
div.group-left div.group-headerbox, div.group-left .group-deadlines{
	width: 30%;
}

.field:after{
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}

div.group-headerbox, .group-deadlines, .field-name-field-eligibility, .field-name-body, .field-name-field-contact, .field-name-field-deadline-details {
    border: 1px solid #eee;
    background: #fafafa;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
}

div.group-left div.group-logo {
    max-width: 185px;
	display: inline-block;
}
.page-node #content-wrap .group-logo img {
    margin: 0 20px 10px 0px;
    vertical-align: top;
    border: 0;
    min-width: 170px;
}

div.view.view-recent-news article ul.meta {
	display: none;
}
div div.view.view-recent-news article .links li a, div li.node-readmore a {
	display: inline-block;
	float: left;
}

div.group-who > div {
	float: left;
}
div.group-who > div.spacer {
	float: none;
	clear: both;
}
div.group-who div.field-name-field-contact{
	float: right;
}

div.group-right{
	margin-left: 15px;
}

div.field-name-field-tags{
	float: right;
	display: block;
	margin: 0;
}

div.field-name-field-location span.fn{
	float: left;
	margin-right: 1ch;
}
div.field-name-field-speaker-s- div,
div.field-name-field-speaker-institution div,
div.field-name-field-event-date div,
div.field-name-field-event-date .date-display-single,
div.field-name-field-location div
{font-size: 16px; color: #333; float: left;}
div.field-name-field-event-date div.date-display-range{float:right;}
div.field-name-field-event-date div.date-display-range{margin-left:1ch;}

.field-name-field-tags {
	margin-top: 5px;
}

div.field-name-field-speaker-institution div.field-items{
	font-size: 14px;
	line-height: 25px;
	font-style: italic;
}

div.field-name-body{
	clear: both;
}