/**
 * @file
 * Styling for the ds_2col_fluid template.
 */

.ds-2col-fluid > .group-left {
  float: left; /* LTR */
  width: 75%;
}

.ds-2col-fluid > .group-right {
  float: right; /* LTR */
  width: 25%;
}

.ds-2col-fluid.group-one-column > .group-left,
.ds-2col-fluid.group-one-column > .group-right {
  width: 100%;
  float: none;
}


/*
View: Recent News
*/
div.view.view-recent-news article h2{
	font-weight: bold;
}
div.view.view-recent-news article ul.meta{
    color: #666;
    position: absolute;
    right: 0px;
    top: 0px;
}
div.view.view-recent-news article ul.meta a {
	color: #666;
}

div.view.view-recent-news article img{
	margin: 0px 1em 0px 0px !important;
	float: left !important;
}

div.view.view-recent-news article .field-name-field-tags a{
	background-color: #666;
	border-radius: 0px;
	text-transform: capitalize;
}
div.view.view-recent-news article .field-name-field-tags a:hover{
	background-color: #333;
}

div.view.view-recent-news article .links li a{
	float: right;
	padding: .5em 3em;
}

/* View Popular News */
div.view-popular-news {
	margin-left: 1em;
}
div.view-popular-news table {
	border: 0;
}
div.view-popular-news table td {
	border: 0;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
}
div.view-popular-news table div.views-field-title {
	margin-bottom: 1em;
	display: block;
}
div.view-popular-news table div.views-field-title a {
	color: black;
	font-weight: bold;
}
div.view-popular-news div.views-field-created {
	color: #aaa;
}
div.view-popular-news div.views-field-body img, div.view-popular-news div.views-field-body iframe {
	display: block;
	width: 100%;
	margin: 0 auto !important;
	border: 0 !important;
	margin-bottom: 10px !important;
	float: none !important;
}
div.view-popular-news a.more-link {
	display: block;
	font-size: smaller;
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 20px;
}
div.view-popular-news a.more-link::after {
	content: " \2771";
}