#block-system-main div.content div.ds-profile{
	width: 75%;
	float: left;
}
div.group-sidebar{
	float:right;
	width: calc(25% - 2.1em);
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
}
