.student-card {
  margin: 15vh auto;
  display: block;
  background-color: darkgrey;
  width: 800px;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}
.item.main {
  width: 50%;
  height: 100%;
}
.item {
  justify-content: space-evenly;
  margin: auto;
  border: 1px solid lightgrey;
  width: 100px;
  height: 100px;
}
