body{font-family: sans-serif;}
.student-card {
  margin: 15vh auto;
  display: block;
  background-color: #bbb;
  width: 900px;
  height: 550px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}
.item.main {
  width: 50%;
  height: 93%;
}
.item.main h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}
.item {
  justify-content: space-evenly;
  margin: auto;
  border: 1px solid #000;
  background-color: #ddd;
  width: 170px;
  height: 150px;
  padding: 10px;
  text-align: center;
}
img.profile {
  width: 90%;
  display: block;
  margin: 0 auto;
}
