.outer, .views-field-nid-1 {
  display: none;
}
.student-card {
  /* margin: 15vh auto; */
  display: block;
  background-color: #bbb;
  width: 920px;
  height: 550px;
  display: flex;
  flex-flow: column wrap;
}
.detailblock.main {
  width: 50%;
  height: 94%;
}
.detailblock.main h2 {
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 30px;
}
.detailblock h4 {
    font-weight: bold;
    margin-top: 30%;
}
.detailblock.main img {
    height: 370px;
    width: auto;
}
.detailblock {
  justify-content: space-evenly;
  margin: 10px;
  border: 1px solid #000;
  background-color: #ddd;
  width: 200px;
  height: 159px;
  padding: 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: auto 50px;
  box-sizing: border-box;
}
img.profile {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.education {
  background-image: url(/sites/default/files/views/student-directory/calendar.png);
}
.advisor {
  background-image: url(/sites/default/files/views/student-directory/people.png);
}
.project {
  background-image: url(/sites/default/files/views/student-directory/project.png);
}
.school {
  background-image: url(/sites/default/files/views/student-directory/office.png);
}
.hometown {
  background-image: url(/sites/default/files/views/student-directory/home.png);
}
