/**
 * @file
 * Styling for the ds_2col_fluid template.
 */

.ds-2col-fluid > .group-left {
  float: left; /* LTR */
  width: 80%;
}

.ds-2col-fluid > .group-right {
  float: right; /* LTR */
  width: 20%;
}

.ds-2col-fluid.group-one-column > .group-left,
.ds-2col-fluid.group-one-column > .group-right {
  width: 100%;
  float: none;
}
/* Main Video */
div.group-video{
	float: left;
	width: 70%;
    margin-right: 20px;
}
div.group-video div.embedded-video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
div.group-video div.embedded-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Sidebar */
div.group-right div.embedded-video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
div.group-right div.embedded-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


div.field-name-field-tags {
	margin-top: 5px;
}
div.group-details{
	float: right;
}
div.field-name-body{
	clear: right;
	overflow: auto;
    padding-right: 1em;
}