/* All Responsive
================================================== */
	a#navigation-toggle { height: 35px; line-height: 35px; float: none; margin: 0; cursor: pointer; color: #fff; padding-left: 35px; font-weight: 600; position: relative; z-index: 9; text-decoration: none !important; display: none; }
	a#navigation-toggle .fa { margin-right: 10px; }
	#navigation-toggle { color: #fff; }
	#navigation-toggle:hover { color: #fff; }
	#sidr-main { position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; width: 320px; overflow-x: none; overflow-y: auto;font-size: 13px; background: #000; color: #fff; }
	#sidr-main { padding: 50px 30px 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	.sidr.right { left: auto; right: -320px; }
	.sidr.left { left: -320px; right: auto; }
	#sidr-main a { color: #ccc; }
	#sidr-main a:hover { color: #fff; }
	#sidr-main ul a { display: block; border-bottom: 1px solid #222; border-bottom: 1px solid rgba(255,255,255,0.15); padding: 8px 0; }
	#sidr-main ul.sidr-class-menu { margin: 0; }
	#sidr-main ul li { list-style-type: none; }
	#sidr-main ul li ul { margin-left: 0; margin: 0; }
	#sidr-main ul li ul li a { padding-left: 10px; }
	#sidr-main ul li ul li li a { padding-left: 20px; }
	#sidr-main ul li ul li li li a { padding-left: 30px; }
	#sidr-main ul li ul li a:before { content: '\f0da'; display: inline-block; -webkit-font-smoothing: antialiased; font-family: 'FontAwesome'; color: #333; margin-right: 10px; }
	.sidr-class-toggle-sidr-close:before { font-size: 16px; position: absolute; top: 15px; left: 30px; content: '\f00d'; font-family: 'FontAwesome'; color: #fff; margin: 0; }

#drop-down-login-wrapper .dropdown {
	min-width: 140px;
}

@media only screen and (max-width: 1600px) {
	div.view-featured-events .views-field.views-field-nid{position: inherit;}
}
@media only screen and (max-width: 1279px) {
	div#right_main{ width: 100%;}
	div#left_sidebar {width: 100%;}
	div#left_sidebar div.group-sidebar {display: flex;}
	div#left_sidebar div.group-sidebar_events,
	div#left_sidebar div.group-sidebar_publications,
	div#left_sidebar div.group-sidebar_members
	{
		width: 32%;
		margin-left: 1%;
		margin-right: 1%;
		display: inline-block;
	}

	div#left_sidebar div.group-sidebar_publications{
		max-height: 700px;
	}
	/* News Directory */
	div[about="/news"] div.group-left {
		width: calc(100% - 410px);
	}
	div[about="/news"] div.group-right {
		width: 410px;
	}

	/* Calendar Page */
	.page-node #content-wrap div.view-events-directory.view-display-id-events_latest_event div.views-field-field-image img{
		display: none;
	}
}
@media only screen and (max-width: 1200px) {
	/*  Search Bar */
	#banner-inset {
		right: 20px;
		top: 0px;
		opacity:0.8;
	}
}
@media only screen and (max-width: 750px) {
	/*a#navigation-toggle {
		display: block;
	}

	#site-navigation #main-menu > ul {
		display: none;
	}*/

	#site-navigation #main-menu ul.menu.dropdown-menu {
		width: 100%;
		position: relative;
	}
	#preface-wrap .block {
		margin-top: 20px;
		margin-bottom: 0px;
	}
	#site-navigation #main-menu > ul > li > a.active {
		border-bottom: 0;
	}

	#site-navigation #main-menu > ul > li:nth-of-type(odd){
		display: block;
		float: left;
		background-color: rgb(32,32,32);
		clear: left;
		margin: -2px;
		border: 2px solid rgb(40, 40, 40);
		width: 50%;
	}
	#site-navigation #main-menu > ul > li:nth-of-type(even){
		display: block;
		float: right;
		background-color: rgb(32, 32, 32);
		margin: -2px;
		border: 2px solid rgb(40, 40, 40);
		clear: right;
		width: 50%;
	}
	#site-navigation #main-menu > ul > li:hover > a{
		background-color: rgb(40, 40, 40);
		border-left: 4px solid #FFF641;
	}
	#site-navigation #main-menu > ul > li > a.active {
	    border-left: 4px solid #FFF641;
	    color: #ccc;
	}
}

@media only screen and (max-width: 950px) {
	/* Logo */
	div#logo div#site-logo{
		min-height: 115px;
		overflow: hidden;
	}
	div#logo div#site-logo img{
		max-width: none;
		max-height: 115px;
	}

	/* Calendars */

	table#pqi-events-calendars td {
		display: block;
	}
}
@media only screen and (max-width: 530px) {
	#banner-inset {
		top: -1px;
		opacity: 0.6;
		transform: scale(1, .9);
	}
	div[about="/calendar"] div.group-left {
		width: 100%;
		float: none;
	}
	div[about="/calendar"] div.group-right {
		display: none;
	}
}
@media only screen and (max-width: 768px)  and (min-width: 531px) {
	div[about="/calendar"] div.group-left {
		width: calc(100% - 175px);
	}
	div[about="/calendar"] div.group-right {
		width: 150px !important;
	}
}
@media only screen and (max-width: 768px) {
	/* Members directory */
	div.view-members-directory table .views-field-field-email {
		display: none;
	}
	/* Calendar Page */
	div.view-events-directory.view-display-id-events_latest_event div.views-field-body p {
		text-align: justify !important;
	}
	div.view-events-directory td.views-field-title .views-field-field-tags a {
		display: none;
	}
}
@media only screen and (max-width: 620px) {
	/* Members directory */
	div.view-members-directory table .views-field-field-office-address {
		display: none;
	}
}

/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 1749px) {
	.container { max-width: 100%; }
	.left-content { width: 60%; }
	.sidebar-container { width: 36%; }
}
@media only screen and (max-width: 1749px) {
	#footer-wrap div#block-menu-menu-site-map div.content ul li {
		margin-right: 2%;
	}
}
@media only screen and (max-width: 1280px) {
	#footer-wrap .span_1_of_3 {
		width: 100%;
	}
	#footer-wrap .span_1_of_3.col-2{
		width: 71.5%
	}
	#footer-wrap .span_1_of_3.col-3{
		width: 24%;
		min-width: 200px;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 801px) {
	div[about="/about"].ds-2col-fluid > .group-right {
		width: 200px;
	}
	div[about="/about"].ds-2col-fluid > .group-left {
		width: calc(100% - 225px);
	}
}
@media only screen and (max-width: 800px) {
	div div[about="/about"].ds-2col-fluid > .group-right {
		width: 100%;
		float: none;
		clear: both;
		padding: 0;
		margin: 0;
		border-right:1px solid #bbb;
	}
	div div[about="/about"].ds-2col-fluid > .group-right h2,
	div div[about="/about"].ds-2col-fluid > .group-right ul li a
	{
		padding-left: 20px;
	}
	div div[about="/about"].ds-2col-fluid > .group-left {
		width: 100%;
	}
}


@media only screen and (max-width: 919px) {
	#footer-wrap div#block-menu-menu-site-map div.content ul li {
		margin-right: 0%;
		display: block;
	}
	#footer-wrap .span_1_of_3.col-2{width: calc(100% - 250px);}

	#footer-wrap div#block-menu-menu-site-map li.expanded>a{
		border-bottom: 1px solid white;
		width: 50%;
		display: inline-block;
		margin-top: 20px;
	}

	/* News Directory */
	div[about="/news"] div.group-left {
		width: 100%;
	}
	div[about="/news"] div.group-right {
		display: none;
	}
}
@media only screen and (max-width: 550px) {
	#footer-wrap .span_1_of_3 {
		width: 100% !important;
	}
	.span_1_of_3.col.col-3.footer-block{text-align: center;}
	/* News Directory */
	div[about="/news"] div.group-left img {
		display: block !important;
		float: none !important;
		margin: 0 auto !important;
	}
	div[about="/news"] div.group-left p {
		text-align: left !important;
	}
	div[about="/news"] header h2.title{
		text-align: center;
	}
	div[about="/news"] div.view.view-recent-news article ul.meta {
		text-align: center;
		width: 100%;
	}
}

/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 1749px) {
	.container { max-width: 100%; }
	.left-content { width: 60%; }
	.sidebar-container, .sidebar-container-left { width: 36%; }
}


/* Mobile (Portrait & Landscape)
================================================== */
@media only screen and (max-width: 767px) {
	.container { max-width: 100%; width: 100%; }
	.sidebar-container,
	.sidebar-container-left,
	.left-content { width: 100%; }
	.sidebar-container, .sidebar-container-left {margin-top: 40px; padding-top: 40px; border-top: 10px solid #eee; }
	.col{ width: 100%; margin-left: 0; margin-bottom: 25px; }
	#wrap { margin-top: 0; margin-bottom: 0; }
	#banner-inset {right: 5px;}
	#header-social { clear: both; position: inherit; top: auto; right: auto; margin-top: 20px; }
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidr { width: 480px; }
	.sidr.right { right: -480px; }
}
